@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* :root {
        --baseBG: #b3d2d1;
        --navBG: #e2d3c5;
        --navText: #130c10;
        --primaryText: #130c10;
        --secondaryText: #777777;
        --cardBG: #92c9ac;
        --cardBorder: #e2d3c5;
        --btnBG: #6c4893;
        --btnText: #ffffff;
    } */
    :root {
        --baseBG: #f6f0e4;
        --navBG: #e74c3c;
        --navText: #ffffff;
        --primaryText: #333333;
        --secondaryText: #777777;
        --cardBG: #ffffff;
        --cardBorder: #d1d1d1;
        --btnBG: #ffa500;
        --btnText: #ffffff;
    }
}
